
.hero-bg {
        background-image: linear-gradient(180deg,#fbfcfe,#f7f7f7);
     /*   background-image:  linear-gradient(180deg,#c6dcff,#f7f7f7); */

      /*   background-image: linear-gradient(180deg,#d8e7ff,#f7f7f7); background: #ffe73f; #ffeb5e  #ffe73f;  #ffea55 #fde327; #ffdb43  fde9e9 ;;*/
}
.secondary-bg {
    background-image: linear-gradient(180deg,#fff,#f7f7f7);
}
.tertiary-bg {
    background-image: linear-gradient(180deg,#fff,#f7f7f7);
}
a {
    font-weight: 600;
}
p,
li {
    font-weight: 400;

    color: #202020;
}
li {
    font-size: 18px;
}
a#learn-anchor {
    position: relative;
    top: -50px;

    display: block;
    visibility: hidden;
}


/* Dimensions */
.hero {
    padding: 14.5vw 0 15vw; /* 13em 0 13em; */
    margin: 0 auto;
}
.secondary {
    padding: 17.6em 0 15.8em; /*  12em 0 13em;   10em  0 8em 0;    86px 0 88px; */
    margin: 0 auto;
}
.tertiary,
.fourth,
.fifth,
.sixth {
    padding: 2.9em 0 9.7em;  /* 86px 0 88px; */
    margin: 0 auto;
}


.hero-page-width {
    max-width: 100%;
}
.secondary-page-width {
    max-width: 730px ;
}
.tertiary-page-width,
.fourth-page-width,
.fifth-page-width,
.sixth-page-width {
    max-width: 730px;
}
.page-width {
    max-width: 730px;
}

.hero-image {
    max-width: 1000px;

    text-align: center;
}
.hero-center {
    margin: 0 auto;

    text-align: center;
}

img.templates {
    width: 100%;
    max-width: 830px ;

    opacity: .15;
}
img#logo {
    text-align: center;
}


/* Buttons */
/*  1.9em 3em; */
button.btn-primary,
button.btn-success {
    padding: 1.3em 2.4em;
    margin: 1em 0;
    font-size: 0.83em;
    -webkit-font-smoothing: auto;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    border-radius: 0px;
}

button.btn-success {
    color: #fff;
    border: 1px solid #5e7f39;
    background-color: #5e7f39;
}
button.btn-primary {
    color: #fff;
    /* #ff7029; */
    border: 1px solid #227787; /* #337ab7; */
    background-color: #227787; /* #337ab7; */
}
button.btn-success:active,
button.btn-success:focus,
button.btn-success:hover {
    color: #fff;
    border: 1px solid #6f9d3c;
    background-color: #6f9d3c;
}
button.btn-primary:active,
button.btn-primary:focus,
button.btn-primary:hover {
    color: #fff;
    border: 1px solid #248597; /*  #4a90cc; */
    background-color: #248597; /* #4a90cc; */
}

.hero button.btn-primary,
.hero button.btn-success {
    margin: 1em 4.5em 2em 4.5em;
}
/* Fonts */
.hero h1 {
 padding: 0 18px;
    margin-bottom: 0;
    font-family: "Big Shoulders Text";
    font-size: 5.6em;
    font-style: normal;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0;
}
.sub-head-small {
position: relative;
    top: 13px;
    left: 245px;
    width: 70px;
    font-family: "Gochi Hand";
    font-size: 1.3em;
    letter-spacing: .75px;
    text-transform: capitalize;
    color: #3c5124;
}

h1 {
    padding: .2em 0;
    margin-top: 0;
    margin-bottom: 0;
    /* letter-spacing: -0.5px; */

    font-family: "Big Shoulders Text";
    font-size: 12em;
    font-weight: 400;
    line-height: 1em;

    text-transform: none;
    /* background-color: #ffe73f; */

    color: #ea5252  /* #ff4a37; *//*  #ff7c15;  ff5858 */
}

.hero h2 {
    padding: 5px 18px 0;
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    font-size: 1.03em;
    -webkit-font-smoothing: auto;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.25px;
    color: #2e2e2e;
}

.title-text {
    margin-top: 1.55em;
    margin-bottom: 1.5em;
    font-size: 1.13em;
    -webkit-font-smoothing: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
    text-align: center;
    letter-spacing: 0;
    text-transform: none;
    color: #202020;
}

.learn-more {
    position: relative;
    top: 12vw;

    width: 100px;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.85em;
}

.supernova {
    padding: 6px 15px;
    font-family: "Big Shoulders Text";
    font-size: 1.9em;
    background-color: #39424c;
    color: #ffffff;
}

.title-text-sub {
    margin-bottom: 64px;
}
.secondary-text {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    /*   font-size: 1.215em ;   1.05em;1.15rem; */

    font-size: 1.03em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.65em;

/*     letter-spacing: .3px;
 */    text-transform: none;

    color: #202020;
}

h3.first {
    margin-top: 1.9em;
}
h3 {
    margin-top: 2.25em;

    font-family: "Big Shoulders Text";
    font-size: 1.9em;
    font-weight: 700;
    line-height: 1em;
    /* margin-bottom: 1.25em; */
}


h4 {
    margin-top: 1.2em;
    margin-bottom: .3em;

    font-family: sans-serif;
    font-size: 1.03em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5em;

    text-transform: capitalize;

    color: #202020;
}

.features h2 {
    margin-top: 2em;

    font-family: "Big Shoulders Text";
    font-size: 1.85em;
    font-weight: 700;
    line-height: 1.1em;

/*     letter-spacing: .3px;
 */}

.features .secondary-text {
    margin-bottom: -.65em;

    font-size: 1em;
    line-height: 1.5em;
}
.features-text {
    margin-top: 0;

    line-height: 1.5em;
}
.controls h2 {
    margin-top: .25em;
    margin-bottom: .465em;

    font-family: "Big Shoulders Text";
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1.7em;
}

.secondary-subhead {
    margin-top: 3em;
    margin-bottom: 1.6em;

    font-size: 1.03em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6em;

    text-transform: none;

    color: #202020;
}

p.footnote {
    margin-top: 17px;
    margin-bottom: 17px;

    font-size: 16px;
    font-weight: 300;
    /*     letter-spacing: 0.3px;*/
    line-height: 35px;

    color: #202020;
}

/* Lists */

ul {
    list-style-type: square;
}

ul.custom-bullet {
    margin-bottom: 1.4em;
}
.custom-bullet li {
    display: block;
}
.custom-bullet li:before {
    font-size: 1.03em;
    font-weight: 400;
    line-height: 1.55em;

    color: #202020;
}
.custom-bullet li.sub {
    font-size: 1.03em;
    font-weight: 400;
    line-height: 1.55em;
    color: #202020;
}

.red-bullet {
    color: #39424c;
}



@media(max-width:1200px) {
/*     .hero h1 {
        padding: 0 18px;
        margin-bottom: 0;

        font-family: "Big Shoulders Text";
        font-size: 6.8em;
        font-style: normal;
        font-weight: 600;
        line-height: 1em;
    }  */   
  /*   .hero button {
        padding-top: 1.7em 2.7em;
    } */
/*     .sub-head-small {
        top: 18px;
        left: 287px;
        font-size: 1.5em;
    }
 */
    h1 {
        font-size: 10em;
    }

/*     button.btn-primary[_ngcontent-c2], 
    button.btn-success[_ngcontent-c2] {
        padding: 1.6em 2.5em;
        margin: 1em 0;
        font-size: .75em;
        -webkit-font-smoothing: auto;
        font-weight: 600;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 1px;
    } */

}

@media(max-width:730px) {
/*     .sub-head-small {
        position: relative;
        top: 13px;
        left: 238px;

        width: 70px;

        font-size: 1.45em;

        letter-spacing: 0;
    } */
    .hero {
        padding: 8.7em 0 7.3em;
    }
    .secondary {
        padding: 7.6em 0 7.8em;
    }
    h1 {
        padding: .2em;

        font-size: 6em;
        line-height: 1em;
    }
/*     .hero h1 {
        font-size: 6em;
        line-height: 1em;
    } 
     .hero h2 {
        font-size: 1.2em;
    }
    */
   

   /*  button.btn-success,
    button.btn-primary {
        padding: 1.7em 2.7em;
    } */
}


@media(max-width:588px) {
    .sub-head-small {
        position: relative;
        top: 118px;
        left: 114px;

        width: 70px;

        letter-spacing: 0;
    }
}
