<div class="hero-bg" >
  <div class="container hero" >
    <div class="container hero-page-width hero-center" >


      <h1>brief, build &amp; manage&nbsp;emails</h1>
      <h2> Coordinate layouts, assets &amp; approvals process for modular&nbsp;emails</h2>
      <button role="button" class="btn btn-lg btn-primary" (click)="goToLearn()" >Teach Me!</button>
      <button *ngIf="authService.currentUser" routerLink="/new-form" routerLinkActive="active" role="button" class="btn btn-lg btn-success" >Let's Get Started</button>
      <button *ngIf="!authService.currentUser" routerLink="/login" routerLinkActive="active" role="button" class="btn btn-lg btn-success" >Let's Get Started</button>
    
    </div>
  </div>
</div>  

<div><a id="learn-anchor"></a></div>

<div class="secondary-bg" >
  <div class="container secondary" >
    <div class="container page-width" >

      <p class="title-text"  >
       <strong>Campaign Supernova</strong> provides a simple user interface to devise and brief layouts for email campaign templates; store and edit all your assets; and get layouts and assets reviewed and approved by other members of your&nbsp;team.</p>

      <p class="secondary-text title-text-sub">Data for each email gets stored to <a target="_blank" href="https://firebase.google.com"> Firebase's database</a> and can be exported ready to compile an html email to your exact&nbsp;spec. </p>

      <h3> So this isn't an email build&nbsp;tool?</h3>

      <p class="secondary-text" >CS functions as a companion tool to an email builder, specifically one that generates and populates email templates based on a set of <em>reference&nbsp;data</em>.</p> 

      <p class="secondary-text" >Each time you compose a layout and collate assets for an email you are not just coordinating your resources but compiling the data which can be directly referenced to build that&nbsp;email.</p> 

      <h3>I want an email build&nbsp;tool!</h3>

      <p class="secondary-text" ><a target="_blank" href="https://github.com/fivedoor/fivedoor-email-build-framework"> Campaign Builder </a>is a ‘one click’ email&nbsp;builder that can do the&nbsp;rest.*</p>

      <p class="secondary-text" >The modules available in Campaign Supernova's UI correspond to html modules available in <a target="_blank"  href="https://github.com/fivedoor/fivedoor-email-build-framework"> Campaign Builder</a>'s&nbsp;library.</p>

      <p class="secondary-text"> If you want to build a template based on the campaign data you have set up in CS - then <a target="_blank"  href="https://github.com/fivedoor/fivedoor-email-build-framework">Campaign&nbsp;Builder</a> can make that&nbsp;happen.</p> 

      <small>*Campaign Builder is in beta and currently runs as a templating tool via local server. It can be used by any developer familar with <a href="https://www.npmjs.com/">npm</a> and download, installed and run using the command line.</small>

      <h3>Are we done? Any more patronising mansplanation?</h3>

      <p class="secondary-text" >Whether briefing your own or another organisation CS can help maximise workflow and minimise errors that occur when working with static briefing documents; exchanging wireframes and assets via email or server; collating feedback and changes over email chain or hosted&nbsp;documents. </p> 

      <p class="secondary-text" >Keep scrolling to learn more about its features and controls before you dive&nbsp;in.</p>

    </div>
  </div>
</div> 


<div class="secondary-bg" >
   <div class="container hero-image" >
     <img class="templates" src="https://firebasestorage.googleapis.com/v0/b/ngdataformdemo.appspot.com/o/emails-trans1.png?alt=media&token=fe8e42c2-c933-4c72-b6d0-2e8b53cd1ea8" />
   </div>
</div>



<div class="hero-bg" >
<div class="container tertiary" >
    <div class="container page-width">

          <h1 >Features... </h1>
          <h2>Compose</h2>
          <h4>Compose bespoke emails</h4>

         <p class="secondary-text">
          Use the editor to devise custom layouts based on pre-built html&nbsp;modules 
          </p>

          <h2>Configure</h2>
         <h4 >Configure styles and branding for campaign&nbsp;templates </h4>
         <p class="secondary-text">
         e.g. Select from preset options for button and background colours</p>

          <h2>Compile</h2>
          <h4>Submit and manage all your email&nbsp;assets</h4>
          <p class="secondary-text">Upload copy; headings; T&amp;Cs; ctas; links; images; inline&nbsp;links and assign them to prebuilt html&nbsp;modules
          </p>

          <h2>Catch Errors</h2>
          <h4 >Filter out errors with&nbsp;validation </h4>
           <p class="secondary-text"> Validators may be applied to any asset submission&nbsp;field e.g. mandatory field, valid url, image size or file&nbsp;type</p>

          <h2>Optimise</h2>
          <h4> Text encoding all done for you</h4>
          <p class="secondary-text">
        Any copy submitted is automatically encoded to optimise it for email&nbsp;rendering</p>

          <h2>Preview</h2>
          <h4 >Preview a basic visual of your email as you assemble&nbsp;content <!--and assets--></h4>
           <p class="secondary-text"> Campaign Supernova automatically generates a wireframe template preview as you&nbsp;build </p>

          <h2>Review</h2>
          <h4 >QA, feedback and approval controls to aid&nbsp;workflow</h4> 
          <p class="secondary-text">
           Campaign assets, styles and layout can be assembled, reviewed and approved all through one app and coms&nbsp;stream </p>
    </div>
  </div> 
  </div>


<div class="hero-bg" >
     <div class="container hero-image" >
 
 <img class="templates" src="https://firebasestorage.googleapis.com/v0/b/ngdataformdemo.appspot.com/o/emails-trans1.png?alt=media&token=fe8e42c2-c933-4c72-b6d0-2e8b53cd1ea8" />

   </div>
</div>


<div class="secondary-bg">
  <div class="container secondary" >
    <div class="container page-width" >
    
     <h1>Controls... </h1>

     <p class="secondary-subhead" > Campaign Supernova allows registered users to be assigned one of three different types of profile when initiating a campaign. Each of these profiles have a unique set of privileges when accessing a&nbsp;campaign:</p>

      <h2> Author</h2>
      <ul class="custom-bullet">
        <li class="sub"> <span class="red-bullet">&bull;</span> Create, edit or delete campaign&nbsp;modules</li>
        <li class="sub"><span class="red-bullet">&bull;</span> Request QA</li>
        <li class="sub"><span class="red-bullet">&bull;</span> Request final approval from the&nbsp;owner</li>
        </ul>
        <p class="secondary-text">The Author's access to editing controls is restricted once the campaign has been approved by its&nbsp;Owner. </p>

     <h2 > QA </h2>
      <ul class="custom-bullet">
        <li class="sub"> <span class="red-bullet">&bull;</span> Approve or reject campagin&nbsp;modules</li>
        <li class="sub"> <span class="red-bullet">&bull;</span> Apply a red flag to any data field FAO the&nbsp;author</li>
        <li class="sub"> <span class="red-bullet">&bull;</span>
          Register feedback for any&nbsp;module</li>
      </ul>

      <p class="secondary-text">Only when the QA has approved all campaign modules and data can the Author request approval from the&nbsp;Owner.</p>

      <h2> Owner</h2> 
      <ul class="custom-bullet">
        <li class="sub"><span class="red-bullet">&bull;</span> Approve or reject a&nbsp;campaign</li>
        <li class="sub"><span class="red-bullet">&bull;</span> Register feedback regarding the&nbsp;campaign</li>
        <li class="sub"><span class="red-bullet">&bull;</span> Apply a red flag to any data field or module FAO the&nbsp;author</li>
      </ul>   

      <p class="secondary-text">Only when the Owner has approved an email campaign is its data made accesible to generate the final&nbsp;template.</p>

   </div>
  </div>
</div>

<div class="secondary-bg" >
  <div class="container hero-image" >
     <img class="templates" src="https://firebasestorage.googleapis.com/v0/b/ngdataformdemo.appspot.com/o/emails-trans1.png?alt=media&token=fe8e42c2-c933-4c72-b6d0-2e8b53cd1ea8" />
  </div>
</div>


<div class="hero-bg">
  <div class="container secondary" >
    <div class="container page-width">

      <h1 >Demonstration... </h1>

      <p class="secondary-subhead">When logging into the demo version and accessing a campaign you can toggle between <strong>Author</strong>, <strong>Owner</strong> and <strong>QA</strong> view to experience their&nbsp;controls.</p>

      <p class="secondary-subhead">
      Excited? Confused? Check out the <a *ngIf="authService.currentUser"  routerLink="/campaign-library" routerLinkActive="active" >demo campaigns</a><a *ngIf="!authService.currentUser"  routerLink="/login" routerLinkActive="active" >demo campaigns</a> to explore further. Have a play, use, abuse, send feedback or abusive messages.&nbsp;Enjoy!</p>

       <button *ngIf="authService.currentUser" routerLink="/campaign-library" routerLinkActive="active" role="button" class="btn btn-lg btn-success" >Let's Get Started</button>
          <button *ngIf="!authService.currentUser" routerLink="/login" routerLinkActive="active" role="button" class="btn btn-lg btn-success" >Let's Get Started</button>

      </div>
   </div> 
 </div>
