

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
       background-color: transparent !important; 

}
li.open {
         background-color: transparent !important; 
}

.header{
  margin:0 30px;
}

.affix {
  top: 0;
  width: 100%;
  z-index:1;
}

/* Logo */
img#logo {
    width: 30px;
    margin-right: 4px;
    margin-bottom: 12px;
}

/* DROPDOWN
-------------------------------*/

.dropdown-menu>li>a {
    color:#2b6494;
}

.dropdown-menu>li {
    padding:13px;
}

.dropdown ul.dropdown-menu {
      border-radius: 4px;
    box-shadow: none;
    margin-top: 20px;
    background-color: #f3f3f3;
    width: 200px;

}
.dropdown ul.dropdown-menu:before {
  content: "";
    border-bottom: 10px solid #f3f3f3;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;

}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #f3f3f3;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;

}




/* TYPOGRAPHY
-------------------------------*/
h1 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: #1d1d1d;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    font-family: Lato,sans-serif;
    letter-spacing: -0.5px;
        -webkit-font-smoothing: auto;
  }


#beta {
   letter-spacing: 0.3px;
   font-weight: 400;
   text-transform: lowercase;
   font-style: italic;
   font-size: 11px;
}


/* NAV
-------------------------------*/

.nav {
  background:  #ffffff; 
  padding: 0 0 0 0;
  -webkit-box-shadow:  0px 0px 6px rgba(158, 158, 156, 0.5);
  -moz-box-shadow:   0px 0px 6px rgba(158, 158, 156, 0.5);
  box-shadow:   0px 0px 2px rgba(158, 158, 156, 0.5);
}

.navbar  {
  background: none; 
  border:none; 
  margin-bottom: 0;
}

.navbar-brand{
  padding-top: 6px;
  float: none;
}

.navbar-nav  {
 -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #cccccc;
width:35px;
margin-bottom: 0;
margin-top:3px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 3px;
}

nav[_ngcontent-c0] span[_ngcontent-c0] {
padding: 3px 5px ;
float:none;
margin-right:0;
}

nav[_ngcontent-c0] button[_ngcontent-c0] {
padding: 5px 4px ;
}

.navbar-default .navbar-toggle {
    border: none !important; 
}



.hideNav {
  display:none;
}

nav {
  padding: 0 0 0 0;
}

nav a, nav span  {
    color: #202020;
    background: 0 0;
    float: right;
    font-size: .83em;
    font-weight: 400;
    padding: 16.25px 1em;
    border: none;
    letter-spacing: .3px;
}

nav span  {
  font-size: 11px;
  font-weight: 400;
  margin:0 15px 0 0;
}

nav a.user {
  color: #202020; 
  text-transform: none ;
  font-size: 11px;
/*   font-style: italic;*/}

span#user-email {
  color: #232323; 
  font-size:10px ;
  text-align: right; 
  text-transform: lowercase ; 
  padding-left: 10px;
 background: none ; 
}

nav a#nav-login {
  color: #227787 ; 
  text-transform: none ; 
  font-size: 12px;
  background: none ; 
  font-weight: 400;
}


nav a.logout:hover {
     color: #0071d0;
    border-top: none;
    padding: 20.25px 1em 20px;
}

nav a:hover,
nav a.hover{
  text-decoration: none;
  color: #337ab7;

}

nav a:active,
nav a.active {
    text-decoration: none;
    color: #101010;
}

.navbar-nav>li>a:hover {
     text-decoration: none;
    color: #337ab7;
}

.navbar-default .navbar-nav>li>a:focus {
   background-color: transparent;

}
.navbar-default .navbar-nav>.open>a:focus {
    color: #ff7029 ;
}

/* Demo User */
nav a.user:hover,
nav a.user.hover,
nav a.user:active,
nav a.user.active,
nav a.user:focus,
nav a.user.focus {
   border-top: none;
    padding: 16.25px 1em;
  color: #23527c;
  text-decoration: none;
}
.navbar-default .navbar-nav>.open>a.user:focus,
.navbar-default .navbar-nav>.open>a.user.focus,
.navbar-default .navbar-nav>.open>a.user:active, 
.navbar-default .navbar-nav>.open>a.user.active {
   border-top: none;
   background: transparent ;
   color: #23527c ;
}

/* icon */
i.fa-user {
  font-size:16px;
  color:#ff7029;  /* ffe6d9*/
  padding-right:5px
}
nav a:hover .fa-user,
nav a.hover .fa-user,
nav a:active .fa-user,
nav a.active .fa-user,
nav a:focus .fa-user,
nav a.focus .fa-user { 
  border-top: none;
  }
.navbar-default .navbar-nav>.open>a:focus .fa-user{
    border-top: none;
  background: transparent ;
   color: #ff7029 ;
}

nav a.logout {
  color: #2b6494; 
  text-transform: none ; 
  font-size: 11px;
  background: none ; 
  font-weight: 400;
}

li#nav-logout-desk-user a{
  border-top: none;
  padding-left: 17px !important;
/*   padding: 19px 11px 20px 17px; */

}


li#nav-logout-mob-user {
  display: none;
}

/* MEDIA QUERIES
-------------------------------*/

@media(max-width:967px){
nav a, nav span  {
  font-size: 11px ;
  padding: 22px 5px 12px 5px;
  }

  nav a:hover,
  nav a.hover,
  nav a:active,
  nav a.active {
    text-decoration: none;
    border-top: none;
  padding: 22px 5px 12px 5px;
}

nav a.user:hover,
nav a.user.hover,
nav a.user:active,
nav a.user.active,
nav a.user:focus,
nav a.user.focus {
   border-top: none;
  padding: 22px 5px 12px 5px;
   color: #ff7029 ;
}

.navbar-default .navbar-nav>li>a:focus-within,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:visited{
text-decoration: none !important;
}

nav a.logout:hover {
  border-top: none;
  padding: 22px 5px 12px 5px;
}

li#nav-logout-desk-user {
  display: none;
}

li#nav-logout-mob-user {
  display: inline-block;
}

}

@media(max-width:340px){
#beta{ display: none}
#logo{ display: none}

}