

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent !important;
}
li.open {
    background-color: transparent !important;
}

.header {
    margin: 0 30px;
}

.affix {
    top: 0;
    z-index: 1;

    width: 100%;
}

/* Logo */
img#logo {
    width: 30px;
    margin-right: 4px;
    margin-bottom: 14px;
}

/* DROPDOWN
-------------------------------*/

.dropdown-menu > li > a {
    color: #2b6494;
}

.dropdown-menu > li {
    padding: 13px;
}

.dropdown ul.dropdown-menu {
    width: 200px;
    margin-top: 20px;

    border-radius: 4px;
    background-color: #f3f3f3;
    box-shadow: none;
}
.dropdown ul.dropdown-menu:before {
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;

    content: "";

    border-right: 10px solid transparent;
    border-bottom: 10px solid #f3f3f3;
    border-left: 10px solid transparent;
}
.dropdown ul.dropdown-menu:after {
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;

    content: "";

    border-right: 12px solid transparent;
    border-bottom: 12px solid #f3f3f3;
    border-left: 12px solid transparent;
}




/* TYPOGRAPHY
-------------------------------*/
h1 {
    padding-top: 3px;
    margin-top: 0;
    margin-bottom: 0;

    font-family: Lato,sans-serif;
    font-size: 20px;
    -webkit-font-smoothing: auto;
    font-weight: 700;
    line-height: 20px;

    letter-spacing: -.5px;

    color: #1d1d1d;
}


#beta {
    font-size: 11px;
    font-style: italic;
    font-weight: 400;

    letter-spacing: .3px;
    text-transform: lowercase;
}


/* NAV
-------------------------------*/

.nav {
    padding: 0 0 0 0;

    background: #fff;
    -webkit-box-shadow: 0 0 6px rgba(158, 158, 156, .5);
       -moz-box-shadow: 0 0 6px rgba(158, 158, 156, .5);
            box-shadow: 0 0 2px rgba(158, 158, 156, .5);
}

.navbar {
    margin-bottom: 0;

    border: none;
    background: none;
}

.navbar-brand {
    float: none;
    padding-top: 6px;
}

.navbar-nav {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.navbar-default .navbar-toggle .icon-bar {
    width: 35px;
    margin-top: 3px;
    margin-bottom: 0;

    background-color: #ccc;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

nav[_ngcontent-c0] span[_ngcontent-c0] {
    float: none;
    padding: 3px 5px ;
    margin-right: 0;
}

nav[_ngcontent-c0] button[_ngcontent-c0] {
    padding: 5px 4px ;
}

.navbar-default .navbar-toggle {
    border: none !important;
}



.hideNav {
    display: none;
}

nav {
    padding: 0 0 0 0;
}

nav a,
nav span {
    float: right;
    padding: 19.25px 1.2em;

    font-size: .85em;
    font-weight: 400;

    letter-spacing: 0;

    color: #202020;
    border: none;
    background: 0 0;
}

nav span {
    margin: 0 15px 0 0;

    font-size: 11px;
    font-weight: 400;
}

nav a.user {
    font-size: 11.5px;

    text-transform: none ;

    color: #202020;
    /*   font-style: italic;*/
}

span#user-email {
    font-size: 12px ;

    text-align: right;
    text-transform: lowercase ;

    color: #232323;
    background: none ;
}

nav a#nav-login {
    font-size: 12px;
    font-weight: 400;

    text-transform: none ;

    color: #227787 ;
    background: none ;
}


nav a.logout:hover {
    padding: 19.25px 1.2em;

    color: #0071d0;
    border-top: none;
}

nav a:hover,
nav a.hover {
    text-decoration: none;

    color: #337ab7;
}

nav a:active,
nav a.active {
    text-decoration: none;

    color: #101010;
}

.navbar-nav > li > a:hover {
    text-decoration: none;

    color: #337ab7;
}

.navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a:focus {
    color: #ff7029 ;
}

/* Demo User */
nav a.user:hover,
nav a.user.hover,
nav a.user:active,
nav a.user.active,
nav a.user:focus,
nav a.user.focus {
    padding: 19.25px 1.2em;

    text-decoration: none;

    color: #23527c;
    border-top: none;
}
.navbar-default .navbar-nav > .open > a.user:focus,
.navbar-default .navbar-nav > .open > a.user.focus,
.navbar-default .navbar-nav > .open > a.user:active,
.navbar-default .navbar-nav > .open > a.user.active {
    color: #23527c ;
    border-top: none;
    background: transparent ;
}

/* icon */
i.fa-user {
    padding-right: 5px;

    font-size: 16px;

    color: #ff7029;  /* ffe6d9*/
}
nav a:hover .fa-user,
nav a.hover .fa-user,
nav a:active .fa-user,
nav a.active .fa-user,
nav a:focus .fa-user,
nav a.focus .fa-user {
    border-top: none;
}
.navbar-default .navbar-nav > .open > a:focus .fa-user {
    color: #ff7029 ;
    border-top: none;
    background: transparent ;
}

nav a.logout {
    font-size: 12px;
    font-weight: 400;

    text-transform: none ;

    color: #2b6494;
    background: none ;
}

li#nav-logout-desk-user a {
    padding-left: 17px !important;

    border-top: none;
    /*   padding: 19px 11px 20px 17px; */
}


li#nav-logout-mob-user {
    display: none;
}

/* MEDIA QUERIES
-------------------------------*/

@media(max-width:967px) {
    nav a,
    nav span {
        padding: 22px 5px 12px 5px;

        font-size: 11px ;
    }

    nav a:hover,
    nav a.hover,
    nav a:active,
    nav a.active {
        padding: 22px 5px 12px 5px;

        text-decoration: none;

        border-top: none;
    }

    nav a.user:hover,
    nav a.user.hover,
    nav a.user:active,
    nav a.user.active,
    nav a.user:focus,
    nav a.user.focus {
        padding: 22px 5px 12px 5px;

        color: #ff7029 ;
        border-top: none;
    }

    .navbar-default .navbar-nav > li > a:focus-within,
    .navbar-default .navbar-nav > li > a:active,
    .navbar-default .navbar-nav > li > a:visited {
        text-decoration: none !important;
    }

    nav a.logout:hover {
        padding: 22px 5px 12px 5px;

        border-top: none;
    }

    li#nav-logout-desk-user {
        display: none;
    }

    li#nav-logout-mob-user {
        display: inline-block;
    }
}

@media(max-width:340px) {
    #beta {
        display: none;
    }
    #logo {
        display: none;
    }
}
